node_modules/
.DS_Store
*.log
*.tsbuildinfo

# IDE
*/.idea/
*/.vscode/

# Env
*/.env
*/.env.local
*/.env.*.local
*/.direnv/

# Build outputs
dist/
build/
coverage/

# Build artifacts
*.exe
*.msi
*.apk
*.aab
*.dmg
*.pkg
*.deb
*.rpm
*.AppImage

app/android/app-release.jks

