inventory.iiitnr.ac.in {
    tls /etc/caddy/certs/acnew.pem /etc/caddy/certs/ac.key

    handle_path /api/* {
        reverse_proxy backend:4000
    }

    handle {
        root * /srv/web
        try_files {path} /index.html
        file_server
    }

    encode zstd gzip

    log {
        output file /var/log/caddy/access.log {
            roll_size 100mb
            roll_keep 10
            roll_keep_for 720h
        }
        format json
    }
}
